<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

	<!-- Initialization for data source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/bdd_dionychus?useSSL=false" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- Definition for AccessoireCommandeDaoImpl bean -->
	<bean id="accessoireJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.AccessoireDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for AdresseDaoImpl bean -->
	<bean id="adresseJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.AdresseDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for AppelationDaoImpl bean -->
	<bean id="appelationJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.AppelationDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for AromeDaoImpl bean -->
	<bean id="aromeJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.AromeDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for CepageDaoImpl bean -->
	<bean id="cepageJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.CepageDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for CommandeClientDaoImpl bean -->
	<bean id="commandeClientJDBCtemplate"
		class="fr.afcepf.al29.dionychus.data.impl.CommandeClientDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for CommandeStockDaoImpl bean -->
	<bean id="commandeStockJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.CommandeStockDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Definition for CommentaireDaoImpl bean -->
	<bean id="commentaireJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.CommentaireDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for FournisseurDaoImpl bean -->
	<bean id="fournisseurJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.FournisseurDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Definition for LigneCommandeDaoImpl bean -->
	<bean id="ligneCommandeJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.LigneCommandeDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Definition for LivraisonDaoImpl bean -->
	<bean id="livraisonJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.LivraisonDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Definition for PaysDaoImpl bean -->
	<bean id="paysJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.PaysDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Definition for PromotionDaoImpl bean -->
	<bean id="promotionJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.PromotionDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for RegionDaoImpl bean -->
	<bean id="regionJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.RegionDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for StatutCommandeDaoImpl bean -->
	<bean id="statutCommandeJDBCtemplate"
		class="fr.afcepf.al29.dionychus.data.impl.StatutCommandeDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for TypeAccesDaoImpl bean -->
	<bean id="typeAccesJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.TypeAccesDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for TypeAccessoireDaoImpl bean -->
	<bean id="typeAccessoireJDBCtemplate"
		class="fr.afcepf.al29.dionychus.data.impl.TypeAccessoireDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for TypeLivraisonDaoImpl bean -->
	<bean id="typeLivraisonJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.TypeLivraisonDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for TypeVinDaoImpl bean -->
	<bean id="typeVinJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.TypeVinDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for UtilisateurDaoImpl bean -->
	<bean id="utilisateurJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.UtilisateurDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for VilleDaoImpl bean -->
	<bean id="villeJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.VilleDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Definition for VinDaoImpl bean -->
	<bean id="vinJDBCtemplate" class="fr.afcepf.al29.dionychus.data.impl.VinDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>